<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    Back to <a href="/">/</a>
    <hr>
    <p class="small">
    For any questions, comments, or issues, feel free to submit a new issue on
    <a href="https://github.com/arkie/dicebot/issues">Github</a>. If you
    don't have a Github account, support can be reached at
    <a href="mailto:dicebot.email@gmail.com">dicebot.email@gmail.com</a>.
    </p>
  </body>
</html>
