<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <img src="/static/image.png" srcset="/static/image.png 1x, /static/image-2.png 2x">
    <div id="status"></div>
    <a href="https://slack.com/oauth/authorize?client_id=SLACK_ID&scope=commands"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
    <p>
    Clicking the button above will add the following command to your team's Slack:
    </p>
    <div class="command">
      <span class="bold">/roll</span>
      <span class="grey">[XdY]</span>
      <span class="grey right">Roll X Y-sided dice</span>
    </div>
    <p>
    which will allow members to roll dice using
    <a href="https://en.wikipedia.org/wiki/Dice_notation#Standard_notation">Standard Notation</a>.
    </p>
    <p>
    For example, <span class="bold">/roll 2d6</span> will simulate rolling 2
    6-sided dice, and return the sum via an in-channel post by Dicebot.
    </p>
    <p>
    The full set of rolling options,
    along with some example commands for different gaming systems,
    is explained in <a href="https://github.com/arkie/dicebot">the DiceBot README</a>.
    </p>
    <a href="https://github.com/arkie/dicebot" class="small">Github</a>
    <a href="/privacy" class="small">Privacy Policy</a>
    <a href="/contact" class="small">Contact</a>
    <script>
      const cookies = document.cookie.split(/;\s+/).map(s=>s.split("=")).reduce(
        (acc, kv)=> Object.assign(acc, {[kv[0]]:kv[1]}), {})
      if (cookies.c) {
        const status = document.getElementById("status");
        status.innerText = cookies.c === "Okay" ? "Installed Dicebot." : "Error Installing";
        document.cookie = "c=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
      }
    </script>
  </body>
</html>
