<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Privacy Policy - Dicebot</title>
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <article role="main">
      Back to <a href="/">/</a>
      <p class="small">
      No information about you or your team members' usage of this site is shared with anyone else. While this site doesn't intentionally collect personally identifiable information, any such information shared will similarly not be used except in support of issues with this site.
      </p>
    </article>
    <footer>
      Find an issue? Contact us at <a href="mailto:support@idk.club" rel="me">support@idk.club</a> or on <a href="https://github.com/idkclub/dicebot" rel="me">Github</a>.
    </footer>
  </body>
</html>
